{% extends 'layout.html' %}


{% block content %}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-6 offset-lg-3">#}
{#                <h1>{{ contact.subject_uz }}</h1>#}
{#                <div>#}
{#                    {{ contact.content_uz }}#}
{#                </div>#}
{#                <div>#}
{#                    <img src="{{ contact.photo.url }}" alt=" Salomm vsndfvsdfjh ">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}